<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="header">
  <div class="table-header-container x-large">
    <p class="table-header-text-left" th:text="${tasteTest.orderInTotal} + ')'"></p>
    <p class="table-header-text" th:text="${tasteTest.name} + ' Taste Test'"></p>
  </div>
</th:block>

<th:block th:fragment="round">
  <table class="table table-borderless table-secondary taste-table">
    <colgroup>
      <col width="0%"/>
      <col width="50%"/>
      <col width="50%"/>
      <col width="0%"/>
    </colgroup>
    <tr class="gray-row">
      <th colspan="4" th:text="${tasteTester.name} + ' - Runde ' + ${round.number}"></th>
    </tr>
    <tr class="border-gray">
      <th>Nr</th>
      <th>Bekommen</th>
      <th>Geraten</th>
      <th>Punkte</th>
    </tr>
    <tr class="vertical-align" th:each="guess : ${#lists.sort(round.guesses)}">
      <td th:text="${guess.orderInRound}"></td>
      <td th:class="|${guess.tasteObjectTasted.id == guess.tasteObjectGuessed.id ?
          'green-row' : 'red-row'}|" th:text="${guess.tasteObjectTasted.name}"></td>
      <td th:class="|${guess.tasteObjectTasted.id == guess.tasteObjectGuessed.id ?
          'green-row' : 'red-row'}|" th:text="${guess.tasteObjectGuessed.name}"></td>
      <td th:text="${guess.points} ?: '-'"></td>
    </tr>
  </table>
</th:block>

</html>