<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="total">
  <table class="table table-borderless table-secondary data-table-sortable taste-table">
    <colgroup>
      <col width="100%"/>
      <col width="0%"/>
    </colgroup>
    <thead class="vertical-align">
    <tr class="gray-row">
      <th colspan="2">Gesamt ∅</th>
    </tr>
    <tr class="taste-score-header">
      <th>Marke</th>
      <th>Punkte</th>
    </tr>
    </thead>
    <tbody class="vertical-align">
    <tr th:each="score : ${tasteTest.tasteObjectScoresByAllRounds}">
      <td th:class="'_' + ${score.roundedScore}" th:text="${score.tasteObjectName}"></td>
      <td th:class="'_' + ${score.roundedScore}" th:text="${score.scoreString}"></td>
    </tr>
    </tbody>
  </table>
</th:block>

<th:block th:fragment="player">
  <table class="table table-borderless table-secondary data-table-sortable taste-table">
    <colgroup>
      <col width="100%"/>
      <col width="0%"/>
    </colgroup>
    <thead class="vertical-align">
    <tr class="gray-row">
      <th colspan="2" th:text="${tasteTester.name} + ' ∅'"></th>
    </tr>
    <tr class="taste-score-header">
      <th>Marke</th>
      <th>Punkte</th>
    </tr>
    </thead>
    <tbody class="vertical-align">
    <tr th:each="score : ${tasteTesterScoresEntry.value}">
      <td th:class="'_' + ${score.roundedScore}" th:text="${score.tasteObjectName}"></td>
      <td th:class="'_' + ${score.roundedScore}" th:text="${score.scoreString}"></td>
    </tr>
    </tbody>
  </table>
</th:block>

</html>