<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Admin Page</title>
  <th:block th:replace="fragments/common :: header"></th:block>
</head>
<body>

<div class="container">
  <th:block th:replace="fragments/add-forms :: add"></th:block>
  <th:block th:replace="fragments/delete-forms :: delete"></th:block>
  <th:block th:replace="fragments/edit-forms :: edit"></th:block>
  <th:block th:replace="fragments/common :: back-button"></th:block>
</div>

<th:block th:replace="fragments/common :: toast"></th:block>
<th:block th:replace="fragments/common :: scripts"></th:block>

</body>
</html>