<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>

  <!-- css -->
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="score-colors.css" rel="stylesheet" type="text/css"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>

<form action="/">
  <button class="btn btn-primary" type="submit">Back</button>
</form>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col">


    <form action="/rest/taste-tester/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add Taste Tester</span>
        <input class="form-control" name="name" placeholder="Name" required/><br>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>


  </div>
  <div class="col">

    <form action="/rest/taste-tester/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete Taste Tester</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="tasteTester : ${tasteTestersWithNoRounds}" th:value="${tasteTester.id}"
                  th:text="${tasteTester.name}"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>


  </div>
</div>


<div class="row" style="margin-bottom: 1rem;">
  <div class="col">


    <form action="/rest/taste-object/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add Taste Object</span>
        <input class="form-control" name="name" placeholder="Name" required/><br>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>


  </div>
  <div class="col">


    <form action="/rest/taste-object/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete Taste Object</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="tasteObject : ${tasteObjectsWithNoGuesses}" th:value="${tasteObject.id}"
                  th:text="${tasteObject.name}"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>


  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col">

    <form action="/rest/taste-test/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add Taste Test</span>
        <input class="form-control" name="name" placeholder="Name" required/><br>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>


  </div>
  <div class="col">



    <form action="/rest/taste-test/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete Taste Test</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="tasteTest : ${tasteTestsWithNoRounds}" th:value="${tasteTest.id}"
                  th:text="${tasteTest.name} + ' Taste Test'"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>


  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col">

    <form action="/rest/round/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add Round</span>
        <input class="form-control" type="number" min="1" step="1" name="number" placeholder="Nummer" required/><br>
        <select class="form-select" name="tasteTester" required>
          <option disabled selected value> -- TasteTester --</option>
          <option th:each="tasteTester : ${tasteTesters}" th:value="${tasteTester.id}"
                  th:text="${tasteTester.name}"></option>
        </select>
        <select class="form-select" name="tasteTest" required>
          <option disabled selected value> -- TasteTest --</option>
          <option th:each="tasteTest : ${tasteTests}" th:value="${tasteTest.id}"
                  th:text="${tasteTest.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>


  </div>
  <div class="col">



    <form action="/rest/round/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete Round</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="round : ${rounds}" th:value="${round.id}"
                  th:text="${round.tasteTester.name} + 's Runde ' + ${round.number} + ' im ' + ${round.tasteTest.name} + ' Taste Test'"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>




  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col">


    <form action="/rest/guess/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add Guess</span>
        <select class="form-select" name="round" required>
          <option disabled selected value> -- Round --</option>
          <option th:each="round : ${rounds}" th:value="${round.id}"
                  th:text="${round.tasteTester.name} + 's Runde ' + ${round.number} + ' im ' + ${round.tasteTest.name} + ' Taste Test'"></option>
        </select>
        <input class="form-control" type="number" name="orderInRound" min="1" step="1" placeholder="Order in Round" required/>
        <select class="form-select" name="tasteObjectTasted" required>
          <option disabled selected value> -- TasteObjectTasted --</option>
          <option th:each="tasteObject : ${tasteObjects}" th:value="${tasteObject.id}"
                  th:text="${tasteObject.name}"></option>
        </select>
        <select class="form-select" name="tasteObjectGuessed" required>
          <option disabled selected value> -- TasteObjectGuessed --</option>
          <option th:each="tasteObject : ${tasteObjects}" th:value="${tasteObject.id}"
                  th:text="${tasteObject.name}"></option>
        </select>
        <input class="form-control" type="number" min="0" max="10" step="1" name="points"
               placeholder="Points (not required)"/>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>



  </div>
  <div class="col">



    <form action="/rest/guess/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete Guess</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="guess : ${guesses}" th:value="${guess.id}"
                  th:text="'R' + ${guess.round.number} + '-' + ${guess.round.tasteTester.name} + '-' + ${guess.round.tasteTest.name} + ' - ' + ${guess.tasteObjectTasted.name} + '>' + ${guess.tasteObjectGuessed.name} + ' ' + ${guess.points}"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>



  </div>
</div>

<div class="row" style="margin-bottom: 1rem;">
  <div class="col">


    <form action="/rest/hate-prediction/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add HatePrediction</span>
        <select class="form-select" name="tasteTester" required>
          <option disabled selected value> -- TasteTester --</option>
          <option th:each="tasteTester : ${tasteTesters}" th:value="${tasteTester.id}"
                  th:text="${tasteTester.name}"></option>
        </select>
        <select class="form-select" name="tasteTest" required>
          <option disabled selected value> -- TasteTest --</option>
          <option th:each="tasteTest : ${tasteTests}" th:value="${tasteTest.id}"
                  th:text="${tasteTest.name}"></option>
        </select>
        <select class="form-select" name="tasteObject" required>
          <option disabled selected value> -- TasteObject --</option>
          <option th:each="tasteObject : ${tasteObjects}" th:value="${tasteObject.id}"
                  th:text="${tasteObject.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>

  </div>
  <div class="col">


    <form action="/rest/hate-prediction/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete HatePrediction</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="hatePrediction : ${hatePredictions}" th:value="${hatePrediction.id}"
                  th:text="${hatePrediction.tasteTester.name} + ' - TasteTest ' + ${hatePrediction.tasteTest.name} + ' > ' + ${hatePrediction.tasteObject.name}"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>


  </div>
</div>


<div class="row" style="margin-bottom: 1rem;">
  <div class="col">


    <form action="/rest/favourite-prediction/add" method="post">
      <div class="input-group">
        <span class="input-group-text">Add FavouritePrediction</span>
        <select class="form-select" name="tasteTester" required>
          <option disabled selected value> -- TasteTester --</option>
          <option th:each="tasteTester : ${tasteTesters}" th:value="${tasteTester.id}"
                  th:text="${tasteTester.name}"></option>
        </select>
        <select class="form-select" name="tasteTest" required>
          <option disabled selected value> -- TasteTest --</option>
          <option th:each="tasteTest : ${tasteTests}" th:value="${tasteTest.id}"
                  th:text="${tasteTest.name}"></option>
        </select>
        <select class="form-select" name="tasteObject" required>
          <option disabled selected value> -- TasteObject --</option>
          <option th:each="tasteObject : ${tasteObjects}" th:value="${tasteObject.id}"
                  th:text="${tasteObject.name}"></option>
        </select>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>

  </div>
  <div class="col">


    <form action="/rest/favourite-prediction/delete" method="post">
      <div class="input-group">
        <span class="input-group-text">Delete FavouritePrediction</span>
        <select class="form-select" name="id" required>
          <option disabled selected value> -- select an option --</option>
          <option th:each="favouritePrediction : ${favouritePredictions}" th:value="${favouritePrediction.id}"
                  th:text="${favouritePrediction.tasteTester.name} + ' - TasteTest ' + ${favouritePrediction.tasteTest.name} + ' > ' + ${favouritePrediction.tasteObject.name}"></option>
        </select>
        <button class="btn btn-danger" type="submit">Delete</button>
      </div>
    </form>


  </div>
</div>

<script src="bootstrap.min.js"></script>
</body>
</html>