<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Taste Test Viewer</title>

  <!-- css -->
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="score-colors.css" rel="stylesheet" type="text/css"/>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>


<div class="row" style="margin: 1rem;">
  <div class="col">

    <form action="/">
      <div class="input-group">
        <select class="form-select" name="id" onChange="this.form.submit()" required>
          <option th:selected="${openTasteTestId == null}"
                  disabled value>-- Select Taste Test --</option>
          <option th:each="tasteTest : ${tasteTests}" th:value="${tasteTest.id}"
                  th:text="${tasteTest.name} + ' Taste Test'"
                  th:selected="${openTasteTestId == tasteTest.id}"
                  th:disabled="${openTasteTestId == tasteTest.id}"></option>
        </select>
      </div>
    </form>

  </div>
  <div class="col-auto">

    <form action="/stats">
      <button class="btn btn-warning" type="submit">Stats</button>
    </form>

  </div>
  <div class="col-auto">

    <form action="/admin">
      <button class="btn btn-danger" type="submit">Admin</button>
    </form>

  </div>
</div>


<th:block th:if="${not #lists.isEmpty(tasteTest)}">

  <div class="row" style="margin-left: 1rem; margin-right: 1rem;">
    <div class="col">

      <div class="row">
        <div class="col">
          <table class="table table-borderless table-secondary"
                 style="text-align: center; border: solid 1px grey; margin-bottom: 0">
            <tr>
              <th style="font-size: x-large;">
                <p style="text-align:left; padding:0; margin:0; position:absolute;"
                   th:text="${tasteTest.orderInTotal} + ')'"></p>
                <p style="text-align: center; margin:0;" th:text="${tasteTest.name} + ' Taste Test'"></p>
              </th>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col" th:each="tasteTesterRoundsEntry : ${tasteTest.roundsByTasteTester}"
             th:with="tasteTester = ${tasteTesterRoundsEntry.key}">
          <div class="row" th:each="round : ${#lists.sort(tasteTesterRoundsEntry.value)}">
            <div class="col">
              <table class="table table-borderless table-secondary"
                     style="text-align: center; border-bottom: solid 1px grey; border-left: solid 1px grey; border-right: solid 1px grey; margin-bottom: 0;">
                <colgroup>
                  <col width="0%"/>
                  <col width="50%"/>
                  <col width="50%"/>
                  <col width="0%"/>
                </colgroup>
                <tr>
                  <td colspan="4" th:text="${tasteTester.name} + ' - Runde ' + ${round.number}"
                      style="font-weight: bold; background-color: #c4c4c4;"></td>
                </tr>
                <tr style="border: solid 1px grey;">
                  <th>Nr</th>
                  <th>Bekommen</th>
                  <th>Geraten</th>
                  <th>Punkte</th>
                </tr>
                <tr th:each="guess : ${#lists.sort(round.guesses)}">
                  <td th:text="${guess.orderInRound}"></td>
                  <td th:text="${guess.tasteObjectTasted.name}"
                      th:style="|${guess.tasteObjectTasted.id == guess.tasteObjectGuessed.id ?
                            'background-color: #c6efce; color: #006100;' :
                            'background-color: #ffc7ce; color: #9c0006;'}|"></td>
                  <td th:text="${guess.tasteObjectGuessed.name}"
                      th:style="|${guess.tasteObjectTasted.id == guess.tasteObjectGuessed.id ?
                            'background-color: #c6efce; color: #006100;' :
                            'background-color: #ffc7ce; color: #9c0006;'}|"></td>
                  <td th:text="${guess.points} ?: '-'"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="row">
            <div class="col">
              <table class="table table-borderless table-secondary"
                     style="text-align: center; border: solid 1px grey; margin-top: 1rem; margin-bottom: 0">
                <tr>
                  <th>Bewertungen</th>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table table-borderless table-secondary data-table-sortable"
                     style="text-align: center; border-bottom: solid 1px grey; border-left: solid 1px grey; border-right: solid 1px grey;">
                <colgroup>
                  <col width="100%"/>
                  <col width="0%"/>
                </colgroup>
                <thead>
                <tr>
                  <th colspan="2" style="background-color: #c4c4c4;">Gesamt ∅</th>
                </tr>
                <tr style="text-align: center; border: solid 1px grey;">
                  <th style="cursor: pointer;">Marke</th>
                  <th style="cursor: pointer;">Punkte</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score : ${tasteTest.tasteObjectScoresByAllRounds}">
                  <td th:class="'_' + ${score.roundedScore}"
                      th:text="${score.tasteObjectName}"></td>
                  <td th:class="'_' + ${score.roundedScore}"
                      th:text="${score.scoreString}"></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col"
                 th:each="tasteTesterScoresEntry : ${tasteTest.tasteObjectScoresByTasteTester}"
                 th:with="tasteTester = ${tasteTesterScoresEntry.key}">
              <table class="table table-borderless table-secondary data-table-sortable"
                     style="text-align: center; border-bottom: solid 1px grey; border-left: solid 1px grey; border-right: solid 1px grey;">
                <colgroup>
                  <col width="100%"/>
                  <col width="0%"/>
                </colgroup>
                <thead>
                <tr>
                  <th colspan="2" style="background-color: #c4c4c4;"
                      th:text="${tasteTester.name} + ' ∅'"></th>
                </tr>
                <tr style="text-align: center; border: solid 1px grey;">
                  <th style="cursor: pointer;">Marke</th>
                  <th style="cursor: pointer;">Punkte</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score : ${tasteTesterScoresEntry.value}">
                  <td th:class="'_' + ${score.roundedScore}"
                      th:text="${score.tasteObjectName}"></td>
                  <td th:class="'_' + ${score.roundedScore}"
                      th:text="${score.scoreString}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table table-borderless table-secondary"
                 style="text-align: center; border: solid 1px grey; margin-bottom: 0">
            <tr>
              <th>Ergebnisse</th>
            </tr>
          </table>

          <div class="row">
            <div class="col" th:each="tasteTesterResultEntry : ${tasteTest.resultByTasteTester}"
                 th:with="tasteTester = ${tasteTesterResultEntry.key}, result = ${tasteTesterResultEntry.value}">
              <table class="table table-borderless table-secondary"
                     style="text-align: center; border-bottom: solid 1px grey; border-left: solid 1px grey; border-right: solid 1px grey;">
                <colgroup>
                  <col width="0%"/>
                  <col width="30%"/>
                  <col width="70%"/>
                  <col width="0%"/>
                </colgroup>
                <tr style="border-bottom: solid 1px grey;">
                  <th colspan="4" style="background-color: #c4c4c4;"
                      th:text="${tasteTester.name}"></th>
                </tr>
                <tr style="border-bottom: solid 1px #9c5700;">
                  <td colspan="3" style="background-color: #ffeb9c; color: #9c5700;">Richtig geraten
                  </td>
                  <td colspan="1" style="background-color: #ffeb9c; color: #9c5700;"
                      th:text="${result.correctPercent}"></td>
                </tr>

                <tr>
                  <td th:rowspan="${#lists.size(result.minScored) + 1}"
                      style="vertical-align: middle; font-weight: bold;
                  background-color: #ffc7ce; color: #9c0006;
                  border-right: solid 1px #9c0006;">HASS
                  </td>
                  <td style="background-color: #ffc7ce; color: #9c0006; border-bottom: solid 1px #9c0006;">
                    Schätzung
                  </td>
                  <td style="background-color: #ffc7ce; color: #9c0006; border-bottom: solid 1px #9c0006;"
                      th:text="${result.hatePredictionName}"></td>
                  <th style="background-color: #ffc7ce; color: #9c0006; border-left: solid 1px #9c0006;">
                    Punkte
                  </th>
                </tr>
                <tr>
                  <td th:rowspan="${#lists.size(result.minScored)}"
                      style="vertical-align: middle;background-color: #ffc7ce; color: #9c0006;">Nach
                    Punkten
                  </td>
                  <td style="background-color: #ffc7ce; color: #9c0006;"
                      th:text="${result.minScored[0].tasteObjectName}"></td>
                  <td th:rowspan="${#lists.size(result.minScored)}"
                      th:text="${result.minScored[0].scoreString}"
                      style="vertical-align: middle;background-color: #ffc7ce; color: #9c0006;"></td>
                </tr>
                <th:block th:if="${#lists.size(result.minScored) > 1}">
                  <th:block th:each="minScore, iter : ${result.minScored}">
                    <th:block th:if="${not iter.first}">
                      <tr>
                        <td style="background-color: #ffc7ce; color: #9c0006;"
                            th:text="${minScore.tasteObjectName}"></td>
                      </tr>
                    </th:block>
                  </th:block>
                </th:block>

                <tr>
                  <td th:rowspan="${#lists.size(result.maxScored) + 1}"
                      style="vertical-align: middle; font-weight: bold;
                  background-color: #c6efce; color: #006100;
                  border-right: solid 1px #006100;">FAV
                  </td>
                  <td style="background-color: #c6efce; color: #006100; border-bottom: solid 1px #006100;">
                    Schätzung
                  </td>
                  <td style="background-color: #c6efce; color: #006100; border-bottom: solid 1px #006100;"
                      th:text="${result.favouritePredictionName}"></td>
                  <th style="background-color: #c6efce; color: #006100; border-left: solid 1px #006100;">
                    Punkte
                  </th>
                </tr>
                <tr>
                  <td th:rowspan="${#lists.size(result.maxScored)}"
                      style="vertical-align: middle; background-color: #c6efce; color: #006100;">
                    Nach
                    Punkten
                  </td>
                  <td style="background-color: #c6efce; color: #006100;"
                      th:text="${result.maxScored[0].tasteObjectName}"></td>
                  <td th:rowspan="${#lists.size(result.maxScored)}"
                      th:text="${result.maxScored[0].scoreString}"
                      style="vertical-align: middle;background-color: #c6efce; color: #006100;"></td>
                </tr>
                <th:block th:if="${#lists.size(result.maxScored) > 1}">
                  <th:block th:each="maxScore, iter : ${result.maxScored}">
                    <th:block th:if="${not iter.first}">
                      <tr>
                        <td style="background-color: #c6efce; color: #006100;"
                            th:text="${maxScore.tasteObjectName}"></td>
                      </tr>
                    </th:block>
                  </th:block>
                </th:block>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

<script src="jquery-3.6.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="datatables.min.js"></script>
<script src="script.js"></script>
</body>
</html>