<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <title>Taste Test Viewer</title>
  <th:block th:replace="fragments/common :: header"></th:block>
</head>

<body>

<div class="container-fluid">

  <!-- SUCHE -->

  <div class="row" style="margin-top: 1rem; margin-bottom: 1rem;">
    <div class="col">
      <th:block th:replace="fragments/searchbar :: searchbar"></th:block>
    </div>
  </div>

  <th:block th:if="${tasteTest != null && not #sets.isEmpty(tasteTest.rounds)}">

    <!-- TASTE TEST -->

    <div class="row">
      <div class="col">
        <th:block th:replace="fragments/taste-test :: header"></th:block>
      </div>
    </div>

    <div class="row" style="margin-bottom: 1rem;">
      <div class="col" th:each="tasteTesterRoundsEntry : ${tasteTest.roundsByTasteTester}"
           th:with="tasteTester = ${tasteTesterRoundsEntry.key}">
        <div class="row" th:each="round : ${#lists.sort(tasteTesterRoundsEntry.value)}">
          <div class="col">
            <th:block th:replace="fragments/taste-test :: round"></th:block>
          </div>
        </div>
      </div>
    </div>

    <!-- BEWERTUNGEN -->

    <div class="row">
      <div class="col">
        <th:block th:replace="fragments/common :: table-header(Bewertungen)"></th:block>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <th:block th:replace="fragments/taste-score :: total"></th:block>
      </div>

      <div class="col"
           th:each="tasteTesterScoresEntry : ${tasteTest.tasteObjectScoresByTasteTester}"
           th:with="tasteTester = ${tasteTesterScoresEntry.key}">
        <th:block th:replace="fragments/taste-score :: player"></th:block>
      </div>
    </div>

    <!-- ERGEBNISSE -->

    <div class="row">
      <div class="col">
        <th:block th:replace="fragments/common :: table-header(Ergebnisse)"></th:block>
      </div>
    </div>

    <div class="row">
      <div class="col" th:each="tasteTesterResultEntry : ${tasteTest.resultByTasteTester}"
           th:with="tasteTester = ${tasteTesterResultEntry.key}, result = ${tasteTesterResultEntry.value}">
        <th:block th:replace="fragments/taste-result :: result"></th:block>
      </div>
    </div>
  </th:block>

</div>

<th:block th:replace="fragments/common :: scripts"></th:block>

</body>
</html>