<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Stats</title>
  <th:block th:replace="fragments/common :: header"></th:block>
</head>
<body>

<div class="container-fluid">

  <th:block th:replace="fragments/common :: back-button"></th:block>

  <div class="row margin-bottom">
    <div class="col">
      <th:block th:replace="fragments/leaderboard :: taste-testers"></th:block>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: best-taste-objects"></th:block>
    </div>
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: worst-taste-objects"></th:block>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: taste-objects-guessed-right"></th:block>
    </div>
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: taste-objects-guessed-wrong"></th:block>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: most-tasted-taste-objects"></th:block>
    </div>
    <div class="col">
      <th:block th:replace="fragments/fun-facts :: most-score-diff-taste-objects"></th:block>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col">
      <th:block th:replace="fragments/leaderboard :: taste-objects"></th:block>
    </div>
  </div>
</div>

</body>
</html>